/* general style settings */
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --black: #000;
  --navy: #20113d;
  --white: #fff;
  --orange: #f58021;
  --turquoise: #00a092;
}
html {
  font-size: 10px;
}
body {
  width: 1920px;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.page-wrapper {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  text-transform: uppercase;
}
button {
  padding: 26px 0 26px 35px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
}
li:hover,
button:hover,
form:hover {
  cursor: pointer;
}
.no-outline:visited,
.no-outline:hover,
.no-outline:focus,
.no-outline:active {
  outline: none;
}
.h1 {
  margin: 0;
  color: var(--black);
  text-transform: none;
  font-size: 2rem;
  font-weight: 700;
}
.h2-title {
  font-size: 5.4rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--turquoise);
}
.subheader {
  font-size: 2.6rem;
  line-height: 130%;
  font-weight: 500;
  color: var(--white);
}
.body-text {
  margin: 0;
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--black);
}
.btn-font {
  font-size: 1.8rem;
  font-weight: 600;
}
.arrow {
  margin-left: 10px;
}

/* HEADER */
.header {
  width: 100%;
  margin: 0;
  background-color: var(--orange);
}
.header-inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo-area {
  width: 96px;
  height: 50px;
  margin: 13px 0 15px;
  display: flex;
  align-items: center;
  text-align: center;
}
.big-zoo {
  display: flex;
  align-items: flex-start;
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 600;
  line-height: 30px;
}
.logo-svg {
  margin: 0;
  padding: 0;
}
.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  display: flex;
  flex-direction: row;
}
.top-nav-list {
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  width: 556px;
}
.socials-list {
  justify-content: space-between;
  width: 180px;
  margin: 0 0 0 65px;
  padding: 0;
}
.top-nav-item:nth-child(1) {
  margin: 0 48.4px 0 0;
  padding: 0;
}
.top-nav-item:nth-child(2) {
  margin: 0 48.4px 0 0;
  padding: 0;
}
.top-nav-item:nth-child(3) {
  margin: 0 48.4px 0 0;
  padding: 0;
}
.top-nav-item:nth-child(4) {
  width: 122px;
  margin: 0 48.4px 0 0;
  padding: 0;
}
.top-nav-item:nth-child(5) {
margin: 0;
padding: 0;
}
.nav-item-ref {
  font-size: 18.1px;
  font-weight: 600;
  color: var(--black);
}
.nav-item-ref:hover,
.nav-item-ref:active {
  text-decoration: underline;
}
.page-name {
  color: var(--turquoise);
}
.page-name:hover {
  text-decoration: none !important;
  cursor: default !important;
}
.social-icon {
  width: 40px;
  height: 43px;
  margin: 0;
  padding: 0;
  transition: 0.5s;
}
.social-icon:hover {
  transform: scale(1.2);
}

/* MAIN */
.main {
  width: 100%;
  margin: 0;
}
.main-inner {
  width: 1400px;
  margin: 0 auto;
  align-items: center;
}
.heading {
  display: none;
}
.main-section {
  margin: 147px 0 150px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.text-field {
  width: 545px;
}
.title-field {
  margin: 0 0 51px 0;
}
.form-field {
  width: 680px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.star {
  color: var(--turquoise);
}
.form-input {
  width: 680px;
  margin-top: 10px;
  height: 60px;
  margin-bottom: 30px;
  padding: 5px 0 0 19px;
  border: 1px solid var(--black);
  border-radius: 5px;
}
.textarea {
  height: 200px;
  padding-top: 21px;
}
.form-input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  color: #969696;
}
.form-input:focus {
  border-color: var(--turquoise);
  box-shadow: 0 4px 30px rgba(0%, 62.7%, 57.3%, 30%);
}
.form-input:focus::-webkit-input-placeholder {
  color: transparent;
}
.form-btn {
  width: 359px;
  height: 74px;
  margin-top: 34px;
  padding-left: 87.86px;
  border: none;
  border-radius: 5px;
  background-color: var(--turquoise);
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.3px;
  display: flex;
  align-items: center;
}
.form-btn:hover,
.form-btn:active {
  background-color: #05786e;
}

/* FOOTER */
.footer {
  width: 100%;
  bottom: 0;
  background-color: var(--navy);
}
.footer-inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 70px 0 36px 0;
}
.footer-top,
.footer-bottom,
.copyrights {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logos {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 65px;
}
.logos p {
  margin: 0;
  padding: 0;
}
.footer-nav-list {
  width: 426px;
  margin: 0 100px;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 46px;
}
.footer-nav-item {
  margin: 0;
  padding: 0;
}
.footer-nav-item:hover,
.footer-nav-item:active {
  cursor: pointer;
  text-decoration: underline;
}
.footer-nav-item-ref {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--white);
}
.volunteers-btn {
  width: 359px;
  height: 74px;
  padding-left: 33.86px;
  display: flex;
  align-items: center;
  border: 1px solid var(--white);
  background-color: rgba(0, 0, 0, 0);
  color: var(--white);
  letter-spacing: 0.5px;
}
.volunteers-btn:hover,
.volunteers-btn:active {
  background-color: var(--turquoise);
}
.bottom-line {
  width: 1400px;
  margin: 70px 0 37px 0;
  text-align: center;
  color: var(--white);
}
.copyright {
  margin: 0;
  padding: 0 50px 0 0;
  color: var(--white);
}
.footer-socials-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 40px;
}
.footer-social-item,
.footer-social-icon {
  margin: 0;
  transition: 0.5s;
}
.footer-social-icon:hover {
  transform: scale(1.2);
}
