@media screen and (min-width: 320px) and (max-width: 639px) {
  .page-wrapper {
    height: 100vh;
    overflow: auto;
  }
  .main-inner {
    width: 320px;
  }
  .img-section img {
    width: 350px;
    height: 217px;
  }
  .main-section {
    width: 300px;
    margin-top: 28px;
    margin-bottom: 80px;
  }
  .text-field,
  .form-field {
    width: 300px;
  }
  .title-field {
    width: 300px;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
  }
  .form-field {
    margin-top: 43px;
  }
  .form-field,
  .form-input {
    width: 300px;
  }
  .form-input {
    height: 50px;
    margin-top: 3px;
    margin-bottom: 31px;
  }
  .textarea {
    height: 200px;
    margin-bottom: 30px;
  }
  .form-btn {
    width: 300px;
    height: 50px;
    margin-top: 0px;
    padding: 12px 0 16px 59px;
  }
}
