@media screen and (min-width: 1200px) and (max-width: 1919px) {
  .main-section {
    max-width: 1120px;
    margin: auto;
    margin: 47px 0 100px 0;
    flex-direction: column;
    align-items: center;
  }
  .text-field {
    width: 835px;
    margin-left: 160px;
  }
  .title-field {
    margin: 0 0 31px 169px;
  }
  .text {
    text-align: center;
  }
  .form-field {
    width: 740px;
    margin-left: 78px;
    margin-top: 49px;
  }
  .form-input {
    width: 740px;
  }
  .form-btn {
    margin-top: 17px;
  }
}
