@media screen and (min-width: 640px) and (max-width: 1199px) {
  .page-wrapper {
    height: 100vh;
    overflow: auto;
  }
  .main-inner {
    width: 640px;
  }
  .img-section img {
    width: 700px;
    height: 434px;
  }
  .main-section {
    width: 600px;
    margin: 47px auto 100px auto;
    flex-direction: column;
    align-items: center;
  }
  .text-field {
    width: 600px;
    margin-left: 0;
  }
  .title-field {
    text-align: center;
    margin: 0 0 17px 0;
  }
  .form-field {
    width: 600px;
    margin-left: 0;
  }
  .form-input {
    width: 600px;
  }
  .form-btn {
    width: 290px;
    padding-left: 55px;
    margin-left: auto;
    margin-right: auto;
  }
}
