.page-wrapper {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  width: 100%;
  margin: 0;
}
.main-inner {
  width: 1400px;
  margin: 0 auto;
  align-items: center;
}
.img-section img {
  width: 1400px;
  height: 815px;
}
.main-section {
  margin: 147px 0 150px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.text-field {
  width: 545px;
}
.title-field {
  margin: 0 0 51px 0;
}
.form-field {
  width: 680px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.star {
  color: var(--turquoise);
}
.form-input {
  width: 680px;
  margin-top: 10px;
  height: 60px;
  margin-bottom: 30px;
  padding: 5px 0 0 19px;
  border: 1px solid var(--black);
  border-radius: 5px;
}
.textarea {
  height: 200px;
  padding-top: 21px;
}
.form-input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  color: #969696;
}
.form-input:focus {
  border-color: var(--turquoise);
  box-shadow: 0 4px 30px rgba(0%, 62.7%, 57.3%, 30%);
}
.form-input:focus::-webkit-input-placeholder {
  color: transparent;
}
.form-btn {
  width: 359px;
  height: 74px;
  margin-top: 34px;
  padding-left: 87.86px;
  border: none;
  border-radius: 5px;
  background-color: var(--turquoise);
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.3px;
  display: flex;
  align-items: center;
}
.form-btn:hover,
.form-btn:active {
  background-color: #05786e;
}

/* M E D I A  */

@media screen and (min-width: 1200px) and (max-width: 1919px) {
  .main-section {
    max-width: 1120px;
    margin: auto;
    margin: 47px 0 100px 0;
    flex-direction: column;
    align-items: center;
  }
  .text-field {
    width: 835px;
    margin-left: 160px;
  }
  .title-field {
    margin: 0 0 31px 169px;
  }
  .text {
    text-align: center;
  }
  .form-field {
    width: 740px;
    margin-left: 78px;
    margin-top: 49px;
  }
  .form-input {
    width: 740px;
  }
  .form-btn {
    margin-top: 17px;
  }
}

@media screen and (min-width: 640px) and (max-width: 1199px) {
  .page-wrapper {
    height: 100vh;
    overflow: auto;
  }
  .main-inner {
    width: 640px;
  }
  .img-section img {
    width: 700px;
    height: 434px;
  }
  .main-section {
    width: 600px;
    margin: 47px auto 100px auto;
    flex-direction: column;
    align-items: center;
  }
  .text-field {
    width: 600px;
    margin-left: 0;
    margin-bottom: 50px;
  }
  .title-field {
    text-align: center;
    margin: 0 0 17px 0;
  }
  .text {
    text-align: center;
  }
  .form-field {
    width: 600px;
    margin-left: 0;
  }
  .form-input {
    width: 600px;
  }
  .textarea {
    margin-bottom: 0;
  }
  .form-btn {
    width: 290px;
    padding-left: 55px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .page-wrapper {
    height: 100vh;
    overflow: auto;
  }
  .main-inner {
    max-width: 320px;
  }
  .img-section img {
    width: 350px;
    height: 217px;
  }
  .main-section {
    flex-direction: column;
    width: 300px;
    margin: 28px auto 80px auto;
    /* margin-top: 28px;
    margin-bottom: 80px; */
  }
  .text-field,
  .form-field {
    width: 300px;
  }
  .title-field {
    width: 300px;
    margin-bottom: 15px;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
  }
  .text {
    text-align: center;
  }
  .form-field {
    margin-top: 43px;
  }
  .form-field,
  .form-input {
    width: 300px;
  }
  .form-input {
    height: 50px;
    margin-top: 3px;
    margin-bottom: 31px;
  }
  .textarea {
    height: 200px;
    margin-bottom: 30px;
    padding: 18px 0 0 7px;
  }
  .form-btn {
    width: 300px;
    height: 50px;
    margin-top: 0px;
    padding: 12px 0 16px 59px;
  }
}
