@media screen and (min-width: 320px) and (max-width: 639px) {
  .page-wrapper {
    height: 100vh;
    overflow: auto;
  }
  .main-inner {
    max-width: 320px;
  }
  .main-title {
    width: 300px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    text-transform: none;
    font-size: 26px;
  }
  .map-img {
    width: 300px;
    height: 234px;
    margin-top: 0;
    background-image: url("../assets/icons/320-map.svg");
  }
  .map {
    margin: 22px 0 53px 0;
  }
  .map img {
    width: 46px;
    height: 61px;
  }
  .panda-location {
    position: absolute;
    left: 67.4%;
    top: 29.6%;
  }
  .lemur-location {
    position: absolute;
    left: 54.5%;
    top: 56.5%;
  }
  .gorilla-location {
    position: absolute;
    left: 46.3%;
    top: 47.2%;
  }
  .eagles-location {
    position: absolute;
    left: 2.8%;
    top: 29%;
  }
  .crocodile-location {
    position: absolute;
    left: 15%;
    top: 37%;
  }
  .lion-location {
    position: absolute;
    left: 37.8%;
    top: 38.4%;
  }
  .tiger-location {
    position: absolute;
    left: 73.2%;
    top: 48.6%;
  }
  .koala-location {
    position: absolute;
    left: 81.5%;
    top: 60.2%;
  }
}
