@media screen and (min-width: 640px) and (max-width: 1199px) {
  .page-wrapper {
    height: 100vh;
    overflow: auto;
  }
  .main-inner {
    max-width: 640px;
  }
  .map-img {
    margin-top: 67px;
    width: 640px;
    height: 415px;
    background-image: url("../assets/icons/640-map.svg");
  }
  .main-title {
    font-size: 42px;
  }
  .map img {
    width: 60px;
    height: 75px;
  }
  .panda-location {
    position: absolute;
    left: 70.8%;
    top: 33.2%;
  }
  .lemur-location {
    position: absolute;
    left: 55.2%;
    top: 62.1%;
  }
  .gorilla-location {
    position: absolute;
    left: 47.6%;
    top: 48.8%;
  }
  .eagles-location {
    position: absolute;
    left: 9.9%;
    top: 37.6%;
  }
  .crocodile-location {
    position: absolute;
    left: 19.5%;
    top: 41.2%;
  }
  .lion-location {
    position: absolute;
    left: 40.2%;
    top: 46.4%;
  }
  .tiger-location {
    position: absolute;
    left: 71%;
    top: 54.8%;
  }
  .koala-location {
    position: absolute;
    left: 78.5%;
    top: 64.1%;
  }
}
