@media screen and (max-width: 640px) {
  body {
    min-width: 640px;
    width: 640px;
    max-width: 640px;
  }
  .page-wrapper {
    height: 100vh;
    overflow: auto;
  }
  
  /* HEADER */
  .header {
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .header-inner {
    width: 600px;
  }
  .socials-list {
    display: none;
  }
  .burger {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 48px;
    background-image: url(../assets/icons/hamburger-icon.svg);
  }
  .burger:hover {
    cursor: pointer;
  }
  .top-nav-list {
    display: none;
  }  
  
  /* MAIN */
  .main-inner {
    width: 640px;
  }
  .map-img {
    margin-top: 67px;
    width: 640px;
    height: 415px;
    background-image: url("../assets/icons/640-map.svg");
  }  
  .main-title {
    font-size: 42px;
  }
  .map img {
    width: 60px;
    height: 75px;
  }
  .panda-location {
    position: absolute;
    left: 70.8%;
    top: 33.2%;
  }
  .lemur-location {
    position: absolute;
    left: 55.2%;
    top: 62.1%;
  }
  .gorilla-location {
    position: absolute;
    left: 47.6%;
    top: 48.8%;
  }
  .eagles-location {
    position: absolute;
    left: 9.9%;
    top: 37.6%;
  }
  .crocodile-location {
    position: absolute;
    left: 19.5%;
    top: 41.2%;
  }
  .lion-location {
    position: absolute;
    left: 40.2%;
    top: 46.4%;
  }
  .tiger-location {
    position: absolute;
    left: 71%;
    top: 54.8%;
  }
  .koala-location {
    position: absolute;
    left: 78.5%;
    top: 64.1%;
  }    
  
  
  /* FOOTER */
  .footer {
    position: relative;
    height: 545px;
  }
  .footer-inner {
    width: 600px;
    padding-top: 50px;
  }
  .footer-top,
  .footer-bottom {
    flex-direction: column;
    align-items: center;
  }
  .logos {
    grid-gap: 80px;
    margin-bottom: 50px;
  } 
  .footer-nav-list {
    width: 445px;
    margin: 0 35px 47px 35px;
    grid-template-columns: 68px 44px 54px 120.34px;
    grid-gap: 53px;
  }  
  .bottom-line {
    position: absolute;
    left: 0;
    top: 346px;
    width: 640px;
    margin: 0;
  }
  .footer-bottom {
    margin-top: 100px;
  }
  .footer-socials-list {
    grid-gap: 50px;
  }
  .footer-socials {
    order: -1;
  }
  .copyrights {
    margin-top: 28px;
    margin-left: 50px;
  }

}