@media screen and (min-width: 1200px) and (max-width: 1919px) {
  .main-inner {
    max-width: 1200px;
  }
  .main-title {
    margin-top: 30px;
  }
  .map {
    margin: 16px 0 100px 0;
  }
  .map-img {
    width: 1198px;
    height: 777px;
    background-image: url("../assets/icons/1200-map.svg");
  }
  .panda-location {
    position: absolute;
    left: 69.5%;
    top: 27.8%;
  }
  .lemur-location {
    position: absolute;
    left: 54.5%;
    top: 58%;
  }
  .gorilla-location {
    position: absolute;
    left: 46.9%;
    top: 45%;
  }
  .eagles-location {
    position: absolute;
    left: 8.9%;
    top: 35.2%;
  }
  .crocodile-location {
    position: absolute;
    left: 18.8%;
    top: 38%;
  }
  .lion-location {
    position: absolute;
    left: 38.5%;
    top: 41.2%;
  }
  .tiger-location {
    position: absolute;
    left: 69.7%;
    top: 49.8%;
  }
  .koala-location {
    position: absolute;
    left: 79.1%;
    top: 60.8%;
  }
}
