/* general style settings */
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --black: #000;
  --navy: #20113d;
  --white: #fff;
  --orange: #f58021;
  --turquoise: #00a092;
}
html {
  font-size: 10px;
}
body {
  min-width: 1920px;
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.page-wrapper {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  text-transform: uppercase;
}
button {
  padding: 26px 0 26px 35px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
}
li:hover,
button:hover,
form:hover {
  cursor: pointer;
}
.no-outline:visited,
.no-outline:hover,
.no-outline:focus,
.no-outline:active {
  outline: none;
}
.h1 {
  margin: 0;
  color: var(--black);
  text-transform: none;
  font-size: 2rem;
  font-weight: 700;
}
.h2-title {
  font-size: 5.4rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--turquoise);
}
.subheader {
  font-size: 2.6rem;
  line-height: 130%;
  font-weight: 500;
  color: var(--white);
}
.body-text {
  margin: 0;
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--black);
}
.btn-font {
  font-size: 1.8rem;
  font-weight: 600;
}
.arrow {
  margin-left: 10px;
}

/* HEADER */
.header {
  width: 100%;
  margin: 0;
  background-color: var(--orange);
}
.header-inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo-area {
  width: 96px;
  height: 50px;
  margin: 13px 0 15px;
  display: flex;
  align-items: center;
  text-align: center;
}
.big-zoo {
  display: flex;
  align-items: flex-start;
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 600;
  line-height: 30px;
}
.logo-svg {
  margin: 0;
  padding: 0;
}
.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  display: flex;
  flex-direction: row;
}
.burger {
  display: none;
}
.top-nav-list {
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  width: 556px;
}
.socials-list {
  justify-content: space-between;
  width: 180px;
  margin: 0 0 0 65px;
  padding: 0;
}
.top-nav-item:nth-child(1) {
  margin: 0 48.4px 0 0;
  padding: 0;
}
.top-nav-item:nth-child(2) {
  margin: 0 48.4px 0 0;
  padding: 0;
}
.top-nav-item:nth-child(3) {
  margin: 0 48.4px 0 0;
  padding: 0;
}
.top-nav-item:nth-child(4) {
  width: 122px;
  margin: 0 48.4px 0 0;
  padding: 0;
}
.top-nav-item:nth-child(5) {
  margin: 0;
  padding: 0;
}
.nav-item-ref {
  font-size: 18.1px;
  font-weight: 600;
  color: var(--black);
}
.nav-item-ref:hover,
.nav-item-ref:active {
  text-decoration: underline;
}
.page-name {
  color: var(--turquoise);
}
.page-name:hover {
  text-decoration: none !important;
  cursor: default !important;
}
.social-icon {
  width: 40px;
  height: 43px;
  margin: 0;
  padding: 0;
}
.social-icon img {
  transition: 0.5s;
}
.social-icon img:hover {
  transform: scale(1.2);
}

/* MAIN */
.main {
  width: 100%;
  margin: 0;
}
.main-inner {
  width: 1400px;
  overflow: hidden;
  margin: 0 auto;
}
.heading {
  display: none;
}
.main-title {
  width: 601px;
  margin: auto;
  margin-top: 40px;
  color: var(--navy);
  text-align: center;
}
.map {
  position: relative;
  margin: 70px 0 149px 0;
}
.map img {
  width: 139px;
  height: 205px;
}
.map-img {
  width: 1400px;
  height: 912px;
  background-image: url("../assets/icons/map.svg");
  padding-bottom: 3px;
  padding-right: 5px;
}
.panda-location {
  position: absolute;
  left: 66%;
  top: 34%;
}
.lemur-location {
  position: absolute;
  left: 54.8%;
  top: 61%;
}
.gorilla-location {
  position: absolute;
  left: 47.4%;
  top: 48%;
}
.eagles-location {
  position: absolute;
  left: 9.9%;
  top: 38.6%;
}
.crocodile-location {
  position: absolute;
  left: 18.8%;
  top: 40.2%;
}
.lion-location {
  position: absolute;
  left: 39.2%;
  top: 45.4%;
}
.tiger-location {
  position: absolute;
  left: 70.5%;
  top: 51.3%;
}
.koala-location {
  position: absolute;
  left: 79.9%;
  top: 63.8%;
}
.flag:hover {
  cursor: pointer;
}

/* FOOTER */
.footer {
  width: 100%;
  margin-top: auto;
  background-color: var(--navy);
}
.footer-inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 70px 0 36px 0;
}
.footer-top,
.footer-bottom,
.copyrights {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logos {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 65px;
}
.logos p {
  margin: 0;
  padding: 0;
}
.footer-nav-list {
  width: 426px;
  margin: 0 100px;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 46px;
}
.footer-nav-item {
  margin: 0;
  padding: 0;
}
.footer-nav-item:hover,
.footer-nav-item:active {
  cursor: pointer;
  text-decoration: underline;
}
.footer-nav-item-ref {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--white);
}
.volunteers-btn {
  width: 359px;
  height: 74px;
  padding-left: 33.86px;
  display: flex;
  align-items: center;
  border: 1px solid var(--white);
  background-color: rgba(0, 0, 0, 0);
  color: var(--white);
  letter-spacing: 0.5px;
}
.volunteers-btn:hover,
.volunteers-btn:active {
  background-color: var(--turquoise);
}
.bottom-line {
  width: 1400px;
  margin: 70px 0 37px 0;
  text-align: center;
  color: var(--white);
}
.copyright {
  margin: 0;
  padding: 0 50px 0 0;
  color: var(--white);
}
.footer-socials-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 40px;
}
.footer-social-item,
.footer-social-icon {
  margin: 0;
}
.footer-social-icon img {
  transition: 0.5s;
}
.footer-social-icon img:hover {
  transform: scale(1.2);
}
