/* general style settings */
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --black: #000;
  --navy: #20113d;
  --white: #fff;
  --orange: #f58021;
  --turquoise: #00a092;
}
html {
  font-size: 10px;
}
body {
  width: 1920px;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.page-wrapper {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  text-transform: uppercase;
}
button {
  padding: 26px 0 26px 35px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
}
li:hover,
button:hover,
form:hover {
  cursor: pointer;
}
.no-outline:visited,
.no-outline:hover,
.no-outline:focus,
.no-outline:active {
  outline: none;
}
.h1 {
  margin: 0;
  color: var(--black);
  text-transform: none;
  font-size: 2rem;
  font-weight: 700;
}
.h2-title {
  font-size: 5.4rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--turquoise);
}
.subheader {
  font-size: 2.6rem;
  line-height: 130%;
  font-weight: 500;
  color: var(--white);
}
.body-text {
  margin: 0;
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--black);
}
.btn-font {
  font-size: 1.8rem;
  font-weight: 600;
}
.arrow {
  margin-left: 10px;
}

/* HEADER */
.header {
  width: 100%;
  margin: 0;
  background-color: var(--orange);
}
.header-inner {
  width: 1400px;
  margin: 0 auto;
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo-area {
  width: 96px;
  height: 50px;
  margin: 13px 0 15px;
  display: flex;
  align-items: center;
  text-align: center;
}
.big-zoo {
  display: flex;
  align-items: flex-start;
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 600;
  line-height: 30px;
}
.logo-svg {
  margin: 0;
  padding: 0;
}
.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  display: flex;
  flex-direction: row;
}
.top-nav-list {
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  width: 556px;
}
.socials-list {
  justify-content: space-between;
  width: 180px;
  margin: 0 0 0 65px;
  padding: 0;
}
.top-nav-item:nth-child(1) {
  margin: 0 48.4px 0 0;
  padding: 0;
}
.top-nav-item:nth-child(2) {
  margin: 0 48.4px 0 0;
  padding: 0;
}
.top-nav-item:nth-child(3) {
  margin: 0 48.4px 0 0;
  padding: 0;
}
.top-nav-item:nth-child(4) {
  width: 121px;
  margin: 0 48.4px 0 0;
  padding: 0;
}
.top-nav-item:nth-child(5) {
margin: 0;
padding: 0;
}
.nav-item-ref {
  font-size: 18.1px;
  font-weight: 600;
  color: var(--black);
}
.nav-item-ref:hover,
.nav-item-ref:active {
  text-decoration: underline;
}
.page-name {
  color: var(--turquoise);
}
.page-name:hover {
  text-decoration: none !important;
  cursor: default !important;
}
.social-icon {
  width: 40px;
  height: 43px;
  margin: 0;
  padding: 0;
  transition: 0.5s;
}
.social-icon:hover {
  transform: scale(1.2);
}

/* HERO */
.hero {
  width: 100%;
  margin: 0;
  background-image: url("../assets/images/hero-bg-image.png");
  background-size: 98%;
}
.hero-inner {
  width: 1400px;
  margin: 0 auto;
}
.hero-title {
  width: 890px;
  margin-top: 129px;
  margin-bottom: 31.2px;
  font-size: 8.2rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: var(--turquoise);
}
.hero-text {
  width: 430px;
  margin-bottom: 44px;
}
.hero-button {
  margin-bottom: 131px;
  padding-left: 30.5px;
  width: 240px;
  height: 74px;
  display: flex;
  align-items: center;
  background-color: var(--orange);
  color: var(--white);
  letter-spacing: 0.65px;
}
.hero-button:hover,
.hero-button:active {
  background-color: #d26004;
}

/* WELCOME + ABOUT */
.about-block {
  width: 100%;
  margin: 0;
}
.about-block-inner {
  width: 1400px;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 147px;
}
.welcome,
.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.welcome {
  margin-bottom: 147px;
}
.welcome-title {
  margin: 68px 0 51px 0;
}
.about-title {
  margin: 113px 0 51px 0;
}
.welcome-text,
.about-text {
  width: 560px;
}
.img-area img{
  border-radius: 5px;
}

/* QUICK DONATE */
.quick-donate {
  width: 100%;
  height: 221px;
  background-color: var(--navy);
}
.quick-donate-inner {
  width: 1400px;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.donation-title {
  margin: 0 0 20px 0;
  font-size: 4.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--white);
}
.donation-text {
  width: 609px;
  color: var(--white);
}
.donation-fname {
  font-size: 2.6rem;
  color: var(--white);
  line-height: 130%;
  letter-spacing: 0.3px;
}
.input-donation {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid var(--white);
  border-radius: 5px;
}
#donation-amount {
  width: 239px;
  padding: 26px 0 26px 14px;
  height: 73px;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  color: var(--white);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
#donation-amount::placeholder {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: var(--white);
}
#donation-amount:focus::-webkit-input-placeholder {
  color: transparent;
}
.donation-button {
  width: 80px;
  height: 73px;
  padding-left: 29px;
  background-color: var(--orange);
  display: flex;
  align-items: center;
}
.donation-button:hover,
.donation-button:active {
  background-color: #d26004;
}

/* MEET SOME OUR PETS  */
.animals-live {
  width: 100%;
  margin: 0;
}
.animals-live-inner {
  width: 1400px;
  margin: 0 auto;
}
.main-title,
.main-text {
  text-align: center;
}
.main-title {
  margin: 136px 0 50px 0;
  padding-left: 20px;
}
.main-text {
  width: 920px;
  margin: 0 auto;
  font-size: 2.6rem;
  line-height: 1.31;
  font-weight: 500;
}
.slider {
  margin: 100px 0;
}
.arrows {
  width: 185px;
  margin: 0 auto;
  padding: 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.arrow-left,
.arrow-right {
  margin: 0;
}
.arrow-left svg:hover,
.arrow-right svg:hover {
  cursor: pointer;
  background-color: var(--navy);
  border-radius: 5px;
  fill: var(--white);
}
.animals-list {
  margin-top: 47px;
  margin-bottom: 100px;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 40px;
}
.animal-card {
  width: 440px;
  height: 747px;
  background-color: var(--navy);
  border-radius: 5px;
  transition: 1s;
}
.animal-card:hover {
  transform: scale(1.09, 1.05);
}
.photo {
  margin: 0;
  padding: 0;
}
.photo img {
  border-radius: 5px;
}
.name {
  position: absolute;
  height: 60px;
  margin: 0;
  padding: 12.39px 0;
  background-color: var(--navy);
  border-radius: 5px 0 5px 0;
  color: var(--white);
  text-transform: none;
}
.lucas {
  width: 134.47px;
  height: 60.78px;
  padding-left: 32px;
}
.andy {
  width: 118px;
  padding-left: 24.5px;
}
.glen {
  width: 107px;
  padding-left: 23px;
}
.mike {
  width: 121px;
  padding-left: 29px;
}
.sam-lora {
  width: 206px;
  height: 61px;
  padding-left: 28.5px;
}
.liz {
  width: 90px;
  padding-left: 30px;
}
.shake {
  width: 132px;
  padding-left: 25px;
}
.senja {
  width: 130px;
  padding-left: 32px;
}
.card1 .caption-title {
  padding-right: 6px;
  margin-bottom: 17px;
}
.card2 .caption-button,
.card4 .caption-button {
  padding-top: 30px;
}
.card4 .caption-text {
  width: 310px;
}
.card3 .caption-button,
.card5 .caption-button,
.card6 .caption-button,
.card7 .caption-button {
  padding-top: 28px;
}
.card7 .caption-text {
  width: 380px;
}
.card4 .caption-text,
.card6 .caption-text,
.card7 .caption-text {
  padding-right: 3px;
}
.caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.caption-title {
  margin: 28px 0 16px 0;
  color: var(--white);
  text-transform: none;
}
.caption-text {
  width: 351px;
  min-height: 78px;
  text-align: center;
  color: var(--white);
  text-transform: none;
}
.caption-button {
  width: 240px;
  height: 53px;
  margin: 36px 0 60px 0;
  padding-left: 28px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  color: var(--orange);
  letter-spacing: 0.65px;
}
.main-button {
  width: 359px;
  height: 74px;
  margin: 0 auto;
  padding-left: 35px;
  display: flex;
  align-items: center;
  border: 1px solid var(--black);
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  letter-spacing: 0.48px;
}
.main-button:hover,
.main-button:active {
  background-color: var(--navy);
  color: var(--white);
}
.main-button.active svg {
  fill: var(--white);
}

/* PAY AND FEED */
.pay-and-feed {
  width: 100%;
  margin-top: 150px;
  background-color: var(--navy);
}
.pay-and-feed-inner {
  width: 1400px;
  margin: 0 auto;
  padding-top: 91px;
}
.pay-and-feed-title {
  margin: 0 0 100px 0;
}
.article-border {
  margin: 0 0 84px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.article-number {
  margin: 0 88px 0 0;
}
.line {
  width: 1280px;
  text-align: center;
  color: var(--white);
}
.article-paf {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.paf-1 {
  margin-bottom: 105px;
}
.paf-2 {
  margin-bottom: 82px;
}
.paf-3 .article-title {
  line-height: 34px;
}
.paf-3 .article-text {
  width: 549px;
}
.article-img {
  margin: 0 160px 0 0;
}
.article-info {
  margin-top: 19px;
}
.article-icon {
  margin: 0 0 28px 0;
  padding: 0;
}
.article-title {
  width: 502px;
  margin: 0 0 51px 0;
}
.article-text {
  width: 560px;
  color: var(--white);
}
.donate-now-btn {
  margin: 55px 0 100px 0;
  width: 240px;
  height: 74px;
  display: flex;
  align-items: center;
  background-color: var(--orange);
  color: var(--white);
  letter-spacing: 1.1px;
}
.donate-now-btn:hover,
.donate-now-btn:active {
  background-color: #d26004;
}

/* COMMENTS */
.comments {
  position: relative;
  width: 100%;
  height: 1776px;
  margin: 0;
  background-image: url("../assets/images/comments-bg-img.png");
  background-size: cover;
}
.comments-inner {
  width: 1400px;
  height: 1776px;
  margin: 0 auto;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.comments-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.title-area {
  width: 560px;
  margin: 100px 0 0 0;
}
.title-comments-title {
  width: 440px;
  margin: 0 0 39px 0;
  color: var(--white);
}
.text-comments-title {
  line-height: 34px;
}
.comments-blocks {
  margin: 100px 0 0 0;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.blocks {
  width: 1060px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  grid-gap: 30px;
}
.block-card {
  width: 515px;
  height: 463px;
  margin: 0;
  padding: 46px 50px 70px 50px;
  background-color: var(--white);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.quotes {
  padding-left: 3px;
}
.comments-title {
  margin: 40px 0 19px 0;
  color: var(--black);
  font-weight: 600;
  letter-spacing: -0.25px;
}
.comments-text {
  margin: 0 0 43px 0;
}
.signature {
  margin: 0;
  text-transform: uppercase;
}
.bc3 .comments-text {
  width: 410px;
}
.bc4 .comments-title {
  margin: 42px 0 21px 0;
}
.bc4 .comments-text {
  margin-bottom: 18px;
}
.comments-arrows {
  width: 180px;
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.left-arrow {
  margin-right: 60px;
}
.left-arrow svg:hover,
.right-arrow svg:hover {
  cursor: pointer;
  background-color: var(--white);
  border-radius: 5px;
  fill: var(--navy);
}
.comments-button {
  width: 359px;
  height: 74px;
  padding: 26px 0 26px 77.36px;
  display: flex;
  align-items: center;
  border: 1px solid var(--white);
  background-color: rgba(0, 0, 0, 0);
  color: var(--white);
  letter-spacing: 0.45px;
}
.comments-button:hover,
.comments-button:active {
  background-color: var(--turquoise);
  color: var(--white);
}

/* CARE FOR THE ANIMALS YOU LOVE  */
.animals-feed {
  width: 100%;
  margin: 0;
}
.animals-feed-inner {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.animals-feed-title {
  width: 655px;
  margin: 136px 0 50px 0;
}
.animals-feed-text {
  width: 530px;
  margin: 0;
  padding-right: 3px;
  color: var(--navy);
  line-height: 34px;
}
.animals-feed-imgs {
  width: 100%;
  margin: 97px 0 100px 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 34px;
  row-gap: 37px;
}
.afc1 {
  width: 926px;
  height: 658px;
  background-image: url("../assets/images/you-love--coala.png");
  background-size: cover;
  border-radius: 5px;
  grid-column-start: 1;
  grid-column-end: 3;
}
.afc1 img {
  border-radius: 5px;
}
.animals-feed-card {
  width: 440px;
  height: 658px;
  padding: 0;
  background-color: var(--navy);
  border-radius: 5px;
  transition: 1s;
}
.animals-feed-card a {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.animals-feed-card:hover {
  transform: scale(1.045, 1.03);
}
.animals-feed-img {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.animals-feed-img img {
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}
.animals-feed-card-info {
  width: 390px;
  margin: 30px 0 0 0;
  text-align: center;
  color: var(--white);
  text-transform: none;
}
.feed-btn {
  width: 142px;
  height: 74px;
  margin-bottom: 50px;
  padding-left: 29.5px;
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  color: var(--orange);
}
.animals-feed-button {
  width: 359px;
  height: 74px;
  padding: 0 0 0 35.86px;
  display: flex;
  align-items: center;
  border: 1px solid var(--navy);
  background-color: rgba(0, 0, 0, 0);
  color: var(--navy);
  letter-spacing: 0.5px;
}
.animals-feed-button:hover,
.animals-feed-button:active {
  background-color: var(--navy);
  color: var(--white);
}
.animals-feed-button.active svg {
  fill: var(--white);
}
.feed-bottom-img {
  width: 1400px;
  height: 652px;
  margin: 153px 0 150px 0;
  background-image: url("../assets/images/feed-bottom-img.png");
  background-size: cover;
}

/* FOOTER */
.footer {
  width: 100%;
  bottom: 0;
  background-color: var(--navy);
}
.footer-inner {
  width: 1400px;
  margin: 0 auto;
  padding: 70px 0 36px 0;
}
.footer-top,
.footer-bottom,
.copyrights {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logos {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 65px;
}
.logos p {
  margin: 0;
  padding: 0;
}
.footer-nav-list {
  width: 426px;
  margin: 0 100px;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 46px;
}
.footer-nav-item {
  margin: 0;
  padding: 0;
}
.footer-nav-item:hover,
.footer-nav-item:active {
  cursor: pointer;
  text-decoration: underline;
}
.footer-nav-item-ref {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--white);
}
.volunteers-btn {
  width: 359px;
  height: 74px;
  padding-left: 33.86px;
  display: flex;
  align-items: center;
  border: 1px solid var(--white);
  background-color: rgba(0, 0, 0, 0);
  color: var(--white);
  letter-spacing: 0.5px;
}
.volunteers-btn:hover,
.volunteers-btn:active {
  background-color: var(--turquoise);
}
.bottom-line {
  width: 1400px;
  margin: 70px 0 37px 0;
  text-align: center;
  color: var(--white);
}
.copyright {
  margin: 0;
  padding: 0 50px 0 0;
  color: var(--white);
}
.footer-socials-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 40px;
}
.footer-social-item,
.footer-social-icon {
  margin: 0;
  transition: 0.5s;
}
.footer-social-icon:hover {
  transform: scale(1.2);
}
