@media screen and (min-width: 1200px) and (max-width: 1919px) {
  /* SIDEBAR */
  .sidebar {
    width: 115px;
    z-index: 9999;
  }
  .live-sign {
    display: none;
  }
  .arrows {
    right: 50px;
  }
  .down {
    left: 50px;
    bottom: 31px;
  }
  .circle {
    background-image: none;
  }

  /* LIVE CAMS SECTION */
  .cams-inner {
    max-width: 1120px;
    margin: 0;
    align-items: flex-start;
  }
  .cams-inner.side-bar {
    /* размер полей при открытии сайдбара */
    margin: 0;
  }
  .cams-title {
    margin: 30px 0 30px 210px;
  }
  .donate-now-btn {
    margin: 35px 0 100px 0;
    height: 56px;
    right: 40px;
  }
  .main-video iframe {
    width: 1025px;
    height: 760px;
    margin-left: 20px;
  }
  .transparent-layer {
    width: 1025px;
    height: 760px;
    margin-left: 20px;
  }
  .top-layer {
    margin-left: 32px;
    padding-left: 5px;
    letter-spacing: 0;
  }
  .cams-slider {
    align-items: flex-start;
  }
  .slider-title {
    margin: 7px 0 30px 330px;
  }
  .cams-slider-inner {
    padding-left: 0;
    margin-left: 20px;
  }
  .slider-images {
    grid-gap: 19px;
  }
  .video iframe {
    width: 267px;
  }
  .live-layer {
    padding-left: 14px;
    padding-top: 2px;
    width: 250px;
  }

  /* DONATE */
  .donate {
    margin: 96px 0;
    background-color: var(--navy);
  }
  .donate-inner {
    max-width: 1120px;
    padding: 30px 0;
  }
  .donation-text {
    width: 739px;
    text-align: start;
  }

  /* INFO */
  .info-inner {
    max-width: 1120px;
    padding-top: 3px;
  }
  .did-u-know {
    width: 930px;
    margin-bottom: 35px;
    margin-left: 95px;
  }
  .dun-title {
    margin-top: 35px;
    padding-left: 39.5px;
  }
  .dun-text {
    width: 740px;
    padding-right: 7px;
    letter-spacing: -0.2px;
  }
  .animal-info {
    width: 1120px;
  }
  .photo img {
    width: 456px;
    height: 456px;
  }
}

@media screen and (min-width: 640px) and (max-width: 1199px) {
  .page-wrapper {
    height: 100vh;
    overflow: auto;
  }

  /* SIDEBAR */
  .sidebar {
    width: 78px;
    height: 500px;
    z-index: 99;
    top: 110px;
  }
  .row1 {
    height: 50px;
    width: 78px;
  }
  .live-sign {
    display: none;
  }
  .arrows {
    right: 30px;
    top: 17px;
  }
  .row2,
  .row3,
  .row4,
  .row5 {
    height: 100px;
    width: 78px;
  }
  .circle {
    background-image: none;
  }
  .down {
    left: 32px;
    bottom: 21px;
  }

  /* LIVE CAMS SECTION */
  .cams {
    display: grid;
    grid-template-columns: 78px auto;
  }
  .cams-inner {
    max-width: 542px;
    margin: 0;
    align-items: flex-start;
  }
  .cams-title {
    font-size: 42px;
    margin: 25px 0 21px 70px;
    letter-spacing: -0.5px;
  }
  .donate-now-btn {
    width: 212px;
    height: 24px;
    top: 468px;
    padding-left: 20px;
    right: 0;
  }
  .main-video iframe {
    width: 542px;
    height: 402px;
    margin-left: 0;
  }
  .transparent-layer {
    width: 542px;
    height: 402px;
    margin-left: 0;
  }
  .top-layer {
    font-size: 15px;
    width: 530px;
    height: 50px;
    margin-left: 5px;
    margin-top: 10px;
  }
  .cams-slider {
    max-width: 445px;
    margin-left: 97px;
    align-items: flex-start;
  }
  .slider-title {
    margin: 85px 0 20px 0;
    padding-left: 0px;
    font-size: 26px;
    text-transform: none;
    align-self: flex-start;
  }
  .cams-slider-inner {
    padding-left: 0;
  }
  .left-arrow,
  .right-arrow {
    display: none;
  }
  .slider-images {
    margin: 0;
    grid-gap: 20px;
  }
  .video iframe {
    width: 135px;
    height: 106px;
  }
  .slider-top-layer {
    width: 135px;
    height: 106px;
  }
  .live-layer {
    padding-left: 12px;
    padding-top: 2px;
    width: 72px;
    height: 26px;
    font-size: 10px;
    display: flex;
    align-items: center;
  }
  .live-layer img {
    width: 12px;
    height: 12px;
    padding-left: 3px;
  }

  /* DONATE */
  .donate-inner {
    width: 600px;
    padding: 50px 0;
    flex-direction: column;
    align-items: center;
  }
  .donation-title {
    width: 565px;
    margin: 0 auto;
    text-align: center;
  }
  .donation-text {
    width: 599px;
    margin-top: 30px;
    text-align: center;
  }
  .donation-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .input-donation {
    margin-top: 0;
    width: 363px;
    height: 74px;
  }
  #donation-amount {
    width: 363px;
    padding: 23px 0 26px 40px;
  }
  .donation-button {
    padding-left: 16px;
  }

  /* INFO */
  .info-inner {
    width: 600px;
  }
  .did-u-know {
    width: 600px;
    height: 354px;
    margin-left: 0;
  }
  .dun-title {
    margin-top: 23px;
    padding-left: 0;
    margin-right: 10px;
  }
  .dun-text {
    width: 540px;
    margin-top: 32px;
  }
  .animal-info {
    width: 600px;
    margin: 56px 0 99px 0;
  }
  .short-info {
    width: 600px;
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .photo img {
    width: 600px;
    height: 600px;
  }
  .photo {
    order: -1;
  }
  .info-text {
    margin-top: 46px;
  }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .page-wrapper {
    height: 100vh;
    overflow: auto;
  }

  /* SIDEBAR */
  .sidebar {
    width: 50px;
    height: 300px;
    position: relative;
    z-index: 99;
    top: 0;
  }
  .live-sign {
    display: none;
  }
  .circle {
    background-image: none;
  }
  .row1,
  .row2,
  .row3,
  .row4,
  .row5,
  .row6 {
    height: 50px;
    width: 50px;
  }
  .arrows {
    left: 16px;
    top: 17px;
  }
  .down {
    left: 17px;
    bottom: 19px;
  }

  /* LIVE CAMS SECTION */
  .cams {
    display: grid;
    grid-template-columns: 50px auto;
  }
  .cams-inner {
    max-width: 270px;
    margin: 0;
    align-items: start;
    justify-content: start;
  }
  .cams-title {
    font-size: 26px;
    letter-spacing: 0.5px;
  }
  .main-video iframe {
    width: 270px;
    height: 200px;
  }
  .transparent-layer {
    width: 270px;
    height: 200px;
  }
  .top-layer {
    font-size: 7.5px;
    width: 260px !important;
    height: 40px;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 0;
    line-height: 130%;
  }
  .donate-now-btn {
    width: 300px;
    height: 45px;
    top: 439px;
    right: 10px !important;
    padding: 11.5px 0 11.5px 64px;
  }
  .left-arrow,
  .right-arrow,
  .video:nth-child(3) {
    display: none;
  }
  .cams-slider {
    width: 300px;
    position: absolute;
    margin-left: 0;
    right: 10px;
    top: 287px;
  }
  .slider-title {
    margin: 0;
    margin-left: 21px;
    font-size: 18px;
    text-transform: uppercase;
  }
  .cams-slider-inner {
    margin-left: 0;
    margin-top: 20px;
    padding-left: 0;
  }
  .slider-images {
    grid-gap: 20px;
  }
  .video iframe {
    width: 140px;
    height: 110px;
  }
  .slider-top-layer {
    width: 140px;
    height: 110px;
  }
  .live-layer {
    width: 75px;
    height: 25px;
    font-size: 11px;
    line-height: 150%;
    padding: 4px 0 0 12px;
  }
  .live-layer img {
    width: 12px;
    height: 12px;
  }

  /* DONATE */
  .donate {
    height: 539px;
    margin: 285px 0 20px 0;
  }
  .donate-inner {
    flex-direction: column;
    max-width: 300px;
    padding-top: 19px;
  }
  .donation-title {
    width: 300px;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
  }
  .donation-text {
    width: 300px;
    margin-top: 25px;
    text-align: center;
  }
  .donation-form {
    width: 300px;
    margin-top: 23px;
  }
  .donation-fname {
    margin-left: 60px;
  }
  .input-donation,
  #donation-amount {
    width: 300px;
    height: 45px;
  }
  #donation-amount::placeholder {
    font-size: 16px;
  }
  .donation-button {
    width: 67px;
    height: 43.5px;
    padding: 10px 10px 13px 13px;
  }

  /* INFO */
  .info-inner {
    max-width: 320px !important;
  }
  .animal-info {
    width: 320px !important;
  }
  .did-u-know {
    width: 300px;
    height: 347px;
  }
  .dun-title {
    width: 280px;
    margin: 30px auto 0 auto !important;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.5px;
  }
  .dun-text {
    width: 280px;
    margin-top: 25px;
    padding-right: 0;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.1px;
  }
  .photo {
    order: 1;
    width: 320px;
    height: 320px;
  }
  .photo img {
    width: 320px;
    height: 320px;
  }
  .short-info {
    width: 300px;
    flex-direction: column;
  }
  .info-list {
    order: 2;
    width: 238px;
    margin-top: 41px;
    margin-left: 10px;
  }
  .property {
    padding-right: 0;
  }
  .info-list-item:nth-child(1) {
    margin-bottom: 52px;
  }
  .info-list-item:nth-child(2) {
    margin-bottom: 46px;
    line-height: 170%;
    letter-spacing: 0.4px;
  }
  .info-list-item:nth-child(3) {
    width: 95px;
    margin-bottom: 49px;
    line-height: 170%;
    letter-spacing: 0.5px;
  }
  .info-list-item:nth-child(4) > .property::after {
    content: "\a";
    white-space: pre;
  }
  .info-list-item:nth-child(5) {
    width: 95px;
    margin-bottom: 49px;
    line-height: 170%;
    letter-spacing: 0.4px;
  }
  .info-list-item:nth-child(6) {
    width: 95px;
    margin-bottom: 49px;
  }
  .info-list-item:nth-child(6) > .property::after {
    content: "\a";
    white-space: pre;
  }
  .info-list-item:nth-child(7) {
    margin-bottom: 49px;
  }
  .info-list-item:nth-child(7) > .property::after {
    content: "\a";
    white-space: pre;
  }
  .info-text {
    width: 300px;
  }
}
