@media screen and (min-width: 320px) and (max-width: 639px) {
  .page-wrapper {
    height: 100vh;
    overflow: auto;
  }

  /* SIDEBAR */
  .sidebar {
    width: 50px;
    height: 300px;
    position: relative;
    z-index: 99;
    top: 0;
  }
  .row1,
  .row2,
  .row3,
  .row4,
  .row5,
  .row6 {
    height: 50px;
    width: 50px;
  }
  .arrows {
    left: 16px;
    top: 17px;
  }
  .eagles-fig {
    top: 50px;
    left: 15px;
    width: 21px;
    height: 19.7px;
    background-size: cover;
    z-index: 98;
  }
  .panda-fig {
    top: 40px;
    left: 12px;
    width: 26px;
    height: 19.5px;
    background-size: cover;
    z-index: 98;
  }
  .gorilla-fig {
    top: 39px;
    left: 14px;
    width: 22px;
    height: 19.4px;
    background-size: cover;
    z-index: 98;
  }
  .lemur-fig {
    top: 37.5px;
    left: 18.5px;
    width: 12px;
    height: 20px;
    background-size: cover;
    z-index: 98;
  }
  .down {
    left: 17px;
    bottom: 19px;
  }

  /* LIVE CAMS SECTION */
  .cams-inner {
    max-width: 302px;
    justify-content: flex-start;
  }
  .cams-title {
    font-size: 26px;
    margin: 20px 0 14px 2px;
    letter-spacing: 0;
  }
  .main-video iframe {
    width: 270px;
    height: 200px;
  }
  .transparent-layer {
    width: 270px;
    height: 200px;
  }
  .top-layer {
    font-size: 7.5px;
    width: 260px;
    height: 40px;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 0;
    line-height: 130%;
  }
  .donate-now-btn {
    width: 300px;
    height: 45px;
    top: 453px;
    padding: 11.5px 0 11.5px 64px;
    right: 9px;
  }
  .left-arrow,
  .video4,
  .right-arrow {
    display: none;
  }
  .cams-slider {
    width: 300px;
    position: absolute;
    margin-left: 0;
    right: 10px;
    top: 287px;
  }
  .slider-title {
    margin: 0;
    margin-left: 77px;
    font-size: 18px;
    text-transform: uppercase;
  }
  .cams-slider-inner {
    margin-left: 0;
    margin-top: 20px;
  }
  .video2 iframe,
  .video3 iframe {
    width: 140px;
    height: 110px;
  }
  .slider-top-layer-1,
  .slider-top-layer-2 {
    width: 140px;
    height: 110px;
  }

  /* DONATE */
  .donate {
    height: 539px;
    margin: 285px 0 20px 0;
  }
  .donate-inner {
    max-width: 300px;
    padding-top: 30px;
  }
  .donation-title {
    width: 300px;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
  }
  .donation-text {
    width: 300px;
    margin-top: 25px;
    text-align: center;
  }
  .donation-form {
    width: 300px;
    margin-top: 23px;
  }
  .input-donation,
  #donation-amount {
    width: 300px;
    height: 45px;
  }
  #donation-amount {
    padding: 8px 0 14px 26px;
  }
  #donation-amount::placeholder {
    font-size: 16px;
  }
  .donation-button {
    width: 67px;
    height: 43.5px;
    padding: 10px 10px 13px 13px;
  }

  /* INFO */
  .info-inner {
    max-width: 320px;
  }
  .did-u-know {
    width: 300px;
    height: 482px;
    margin: 70px auto 0 auto;
  }
  .dun-title {
    width: 280px;
    margin: 30px auto 0 auto;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
  }
  .dun-text {
    width: 280px;
    margin-top: 25px;
    padding-right: 0;
    font-size: 18px;
    line-height: 150%;
  }
  .animal-info {
    margin-top: 50px;
    margin-bottom: 77px;
  }
  .photo {
    width: 320px;
    height: 320px;
  }
  .photo img {
    width: 320px;
    height: 320px;
  }
  .short-info {
    width: 300px;
  }
  .info-list {
    width: 300px;
    margin-top: 50px;
    margin-left: 10px;
  }
  .property {
    padding-right: 0;
  }
  .info-list-item:nth-child(1) {
    width: 253px;
    margin-bottom: 52px;
    line-height: 190%;
  }
  .info-list-item:nth-child(2) {
    margin-bottom: 50px;
    line-height: 170%;
  }
  .info-list-item:nth-child(3) {
    width: 95px;
    margin-bottom: 49px;
    line-height: 170%;
  }
  .info-list-item:nth-child(4) {
    width: 300px;
    margin-bottom: 70px;
  }
  .info-list-item:nth-child(4) > .property::after {
    content: "\a";
    white-space: pre;
  }
  .info-list-item:nth-child(5) {
    width: 95px;
    margin-bottom: 49px;
    line-height: 170%;
  }
  .info-list-item:nth-child(6) {
    width: 300px;
    margin-bottom: 76px;
    line-height: 165%;
  }
  .info-list-item:nth-child(6) > .property::after {
    content: "\a";
    white-space: pre;
  }
  .info-list-item:nth-child(7) {
    width: 300px;
    margin-bottom: 49px;
    line-height: 165%;
  }
  .info-list-item:nth-child(7) > .property::after {
    content: "\a";
    white-space: pre;
  }
  .caption-button {
    left: 30px;
    top: 81px;
  }
  .info-text {
    width: 300px;
    margin: 355px 10px 0 10px;
  }
}
