/* general style settings */
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --black: #000;
  --navy: #20113d;
  --white: #fff;
  --orange: #f58021;
  --turquoise: #00a092;
}
html {
  font-size: 10px;
}
body {
  min-width: 1920px;
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  text-transform: uppercase;
}
button {
  padding: 26px 0 26px 35px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
}
li:hover,
button:hover,
form:hover {
  cursor: pointer;
}
.no-outline:visited,
.no-outline:hover,
.no-outline:focus,
.no-outline:active {
  outline: none;
}
.h1 {
  margin: 0;
  color: var(--black);
  text-transform: none;
  font-size: 2rem;
  font-weight: 700;
}
.h2-title {
  font-size: 5.4rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--turquoise);
}
.subheader {
  font-size: 2.6rem;
  line-height: 130%;
  font-weight: 500;
  color: var(--white);
}
.body-text {
  margin: 0;
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--black);
}
.btn-font {
  font-size: 1.8rem;
  font-weight: 600;
}
.arrow {
  margin-left: 10px;
}

/* HEADER */
.header {
  width: 100%;
  margin: 0;
  background-color: var(--orange);
}
.header-inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo-area {
  width: 96px;
  height: 50px;
  margin: 13px 0 15px;
  display: flex;
  align-items: center;
  text-align: center;
}
.big-zoo {
  display: flex;
  align-items: flex-start;
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 600;
  line-height: 30px;
}
.logo-svg {
  margin: 0;
  padding: 0;
}
.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  display: flex;
  flex-direction: row;
}
.burger {
  display: none;
}
.top-nav-list {
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  width: 556px;
}
.socials-list {
  justify-content: space-between;
  width: 180px;
  margin: 0 0 0 65px;
  padding: 0;
}
.top-nav-item:nth-child(1) {
  margin: 0 48.4px 0 0;
  padding: 0;
}
.top-nav-item:nth-child(2) {
  margin: 0 48.4px 0 0;
  padding: 0;
}
.top-nav-item:nth-child(3) {
  margin: 0 48.4px 0 0;
  padding: 0;
}
.top-nav-item:nth-child(4) {
  width: 122px;
  margin: 0 48.4px 0 0;
  padding: 0;
}
.top-nav-item:nth-child(5) {
margin: 0;
padding: 0;
}
.nav-item-ref {
  font-size: 18.1px;
  font-weight: 600;
  color: var(--black);
}
.nav-item-ref:hover,
.nav-item-ref:active {
  text-decoration: underline;
}
.page-name {
  color: var(--turquoise);
}
.page-name:hover {
  text-decoration: none !important;
  cursor: default !important;
}
.social-icon {
  width: 40px;
  height: 43px;
  margin: 0;
  padding: 0;
}
.social-icon img {
  transition: 0.5s;
}
.social-icon img:hover {
  transform: scale(1.2);
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  height: 846px;
  background-color: var(--navy);
  position: sticky;
  top: 0;
  margin: 0;
}
.sidebar-inner {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
}
.live-sign,
.arrows {
  position: absolute;
  margin: 0;
}
.arrows {
  width: 16px;
  height: 15px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../assets/icons/sidebar-more-btn.svg');
  padding: 0;
}
.center {
  border-bottom: 1px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle {
  margin: 0;
  position: relative;
}
.first {
  width: 140px;
  height: 140px;
  background-image: url("../assets/icons/ellipse1.svg");
}
.second,
.third,
.fourth {
  width: 120px;
  height: 120px;
  background-image: url("../assets/icons/ellipse.svg");
  background-size: 100%;
}
.eagles-fig {
  position: absolute;
  top: 20px;
  left: 25px;
  width: 68px;
  height: 66px;
  background-image: url("../assets/icons/ellipce-eagles.svg");
}
.panda-fig {
  position: absolute;
  top: 21px;
  left: 16px;
  width: 88px;
  height: 64px;
  background-image: url("../assets/icons/ellipse-panda.svg");
}
.gorilla-fig {
  position: absolute;
  top: 26.5px;
  left: 32px;
  width: 76px;
  height: 64px;
  background-image: url("../assets/icons/ellipse-gorilla.svg");
}
.lemur-fig {
  position: absolute;
  top: 20px;
  left: 40px;
  width: 40px;
  height: 66px;
  background-image: url("../assets/icons/ellipse-lemur.svg");
  transform: scale(-1, 1);
}
.eagles-fig:hover,
.panda-fig:hover,
.lemur-fig:hover {
  cursor: pointer;
  filter: drop-shadow(1px 1px 10px var(--white));
}
.row1 {
  height: 80px;
  border-bottom: 1px solid var(--white);
}
.row2,
.row3,
.row4,
.row5 {
  height: 171px;
}
.arrows {
  top: 30px;
  right: 30px;
}
.row6 {
  height: 80px;
  border-bottom: none !important;
}
.down {
  width: 15px;
  height: 9px;
  margin: 0;
  position: absolute;
  bottom: 35px;
  left: 103px;
  background-image: url('../assets/icons/sidebar-down-btn.svg');
}

/* LIVE CAMS SECTION */
.cams {
  width: 100%;
  margin: 0;
  display: flex;
}
.cams-inner {
  position: relative;
  width: 1400px;
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.cams-title {
  margin: 54px 0 50px 0;
}
.main-video {
  position: relative;
}
.main-video iframe {
  border: none;
}
.transparent-layer {
  position: absolute;
  margin: 0;
  width: 1400px;
  height: 747px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
}
.top-layer {
  position: absolute;
  margin: 12px;
  padding-left: 4px;
  line-height: 38px;
  letter-spacing: 0.4px;
  width: 536px;
  height: 40px;
  top: 0;
  left: 0;
  background-color: var(--black);
  border-radius: 5px;
  color: var(--white);
  font-size: 28px;
}
.donate-now-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 50px 0 100px 0;
  width: 240px;
  height: 74px;
  display: flex;
  align-items: center;
  background-color: var(--orange);
  color: var(--white);
  letter-spacing: 1.1px;
}
.donate-now-btn:hover,
.donate-now-btn:active {
  background-color: #d26004;
}
.cams-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider-title {
  margin: 98px 0 30px 0;
  font-size: 4.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
}
.cams-slider-inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 120px;
}
.left-arrow,
.right-arrow {
  margin: 0 0 8px 0;
}
.left-arrow {
  width: 80px;
  height: 74px;
  background-image: url('../assets/icons/slider-arrow-left.svg');
}
.right-arrow {
  width: 80px;
  height: 74px;
  background-image: url('../assets/icons/slider-arrow-right.svg');
}
.left-arrow:hover,
.left-arrow:active {
  cursor: pointer;
  background-image: url('../assets/icons/slider-arrow-left-hover.svg');
}
.right-arrow:hover,
.right-arrow:active {
  cursor: pointer;
  background-image: url('../assets/icons/slider-arrow-right-hover.svg');
}
.slider-images {
  margin: 0 13px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 40px;
}
.video2,
.video3,
.video4 {
  position: relative;
}
.video2 iframe,
.video3 iframe,
.video4 iframe{
  border-radius: 5px;
  border: none;
}
.slider-top-layer-1,
.slider-top-layer-2,
.slider-top-layer-3 {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 320px;
  height: 209px;
  background-color: rgba(0, 0, 0, 0);
}
.live-layer-1,
.live-layer-2,
.live-layer-3 {
  position: absolute;
  margin: 0;
  padding-left: 40px;
  padding-top: 3px;
  line-height: 38px;
  letter-spacing: 0.4px;
  width: 300px;
  height: 44px;
  top: 0;
  left: 0;
  background-color: var(--black);
  border-radius: 5px 0 5px 0;
  color: var(--white);
  font-size: 26px;
  text-transform: uppercase;
}

/* DONATE */
.donate {
  width: 100%;
  height: 224px;
  margin: 145px 0;
  background-color: var(--navy);
}
.donate-inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.donation-title {
  margin: 0 0 20px 0;
  font-size: 4.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--white);
}
.donation-text {
  width: 919px;
  color: var(--white);
  text-indent: 6px;
}
.donation-fname {
  font-size: 2.6rem;
  color: var(--white);
  line-height: 130%;
  letter-spacing: 0.5px;
}
.input-donation {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid var(--white);
  border-radius: 5px;
}
#donation-amount {
  width: 240px;
  padding: 27px 0 26px 14px;
  height: 74px;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  color: var(--white);
  letter-spacing: 1.2px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
#donation-amount::placeholder {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white);
}
#donation-amount:focus::-webkit-input-placeholder {
  color: transparent;
}
.donation-button {
  width: 80px;
  height: 74px;
  background-color: var(--orange);
  display: flex;
  align-items: center;
  padding-left: 28px;
}
.donation-button:hover,
.donation-button:active {
  background-color: #d26004;
}

/* INFO */
.info {
  width: 100%;
  margin: 0;
}
.info-inner {
  position: relative;
  width: 1400px;
  margin: 0 auto;
  padding-top: 30px;
}
.did-u-know {
  width: 1040px;
  height: 299px;
  margin: 0 0 0 240px;
  border-radius: 5px;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 25%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dun-title {
  margin: 50px 0 0 0;
  text-align: center;
  font-size: 4.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--turquoise);
}
.dun-text {
  text-align: center;
  width: 919px;
  height: 128px;
  margin-top: 19px;
  color: var(--black);
  line-height: 34px;
}
.animal-info {
  width: 1160px;
  margin: 141px 0 149px 0;
}
.short-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.info-list {
  height: 385px;
  margin: 10px 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.info-list-item {
  height: 34px;
}
.info-list-item:nth-child(1),
.info-list-item:nth-child(2) {
  margin-bottom: 25px;
}
.info-list-item:nth-child(3),
.info-list-item:nth-child(4),
.info-list-item:nth-child(5),
.info-list-item:nth-child(6) {
  margin-bottom: 18px;
}
.property {
  color: var(--black);
  padding-right: 20px;
}
.button-box {
  position: relative;
}
.caption-button {
  position: absolute;
  top: -21px;
  left: 265px;
  width: 240px;
  height: 74px;
  border-radius: 5px;
  margin-top: 3px;
  padding: 12px 0 12px 46px;
  letter-spacing: 1.5px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  color: var(--orange);
  transition: 0.2s;
}
.caption-button:hover,
.caption-button:active {
  background-color: var(--orange);
  color: var(--white);
}
.info-text {
  margin: 38px 0 0 0;
}
.photo img {
  border-radius: 5px;
}

/* FOOTER */
.footer {
  width: 100%;
  margin-top: auto;
  background-color: var(--navy);
}
.footer-inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 70px 0 36px 0;
}
.footer-top,
.footer-bottom,
.copyrights {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logos {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 65px;
}
.logos p {
  margin: 0;
  padding: 0;
}
.footer-nav-list {
  width: 426px;
  margin: 0 100px;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 46px;
}
.footer-nav-item {
  margin: 0;
  padding: 0;
}
.footer-nav-item:hover,
.footer-nav-item:active {
  cursor: pointer;
  text-decoration: underline;
}
.footer-nav-item-ref {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--white);
}
.volunteers-btn {
  width: 359px;
  height: 74px;
  padding-left: 33.86px;
  display: flex;
  align-items: center;
  border: 1px solid var(--white);
  background-color: rgba(0, 0, 0, 0);
  color: var(--white);
  letter-spacing: 0.5px;
}
.volunteers-btn:hover,
.volunteers-btn:active {
  background-color: var(--turquoise);
}
.bottom-line {
  width: 1400px;
  margin: 70px 0 37px 0;
  text-align: center;
  color: var(--white);
}
.copyright {
  margin: 0;
  padding: 0 50px 0 0;
  color: var(--white);
}
.footer-socials-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 40px;
}
.footer-social-item,
.footer-social-icon {
  margin: 0;
}
.footer-social-icon img {
  transition: 0.5s;
}
.footer-social-icon img:hover {
  transform: scale(1.2);
}
