@media screen and (min-width: 1200px) and (max-width: 1919px) {
  /* SIDEBAR */
  .sidebar {
    width: 115px;
    z-index: 9999;
  }
  .row1 {
    width: 115px;
  }
  .row2,
  .row3,
  .row4,
  .row5 {
    width: 115px;
  }
  .live-sign {
    display: none;
  }
  .arrows {
    right: 50px;
  }
  .down {
    left: 50px;
    bottom: 31px;
  }
  .circle {
    background-image: none;
  }
  .eagles-fig {
    top: 42px;
    left: 36px;
    width: 43px;
    height: 40px;
    background-image: url("../assets/icons/ellipse-eagles-white-1200.svg");
  }
  .panda-fig {
    top: 30px;
    left: 30px;
    width: 54px;
    height: 40px;
    background-image: url("../assets/icons/ellipse-panda-1200.svg");
  }
  .gorilla-fig {
    top: 30px;
    left: 35px;
    width: 46px;
    height: 40px;
    background-image: url("../assets/icons/ellipce-gorilla-1200.svg");
  }
  .lemur-fig {
    top: 30px;
    left: 45px;
    width: 24px;
    height: 40px;
    background-image: url("../assets/icons/ellipce-lemur-1200.svg");
    transform: none;
  }

  /* LIVE CAMS SECTION */
  .cams-inner {
    max-width: 1120px;
    margin: 0;
    align-items: flex-start;
  }
  .cams-title {
    margin: 30px 0 30px 210px;
  }
  .donate-now-btn {
    margin: 35px 0 100px 0;
    height: 56px;
    right: 40px;
  }
  .main-video iframe {
    width: 1025px;
    height: 760px;
    margin-left: 20px;
  }
  .transparent-layer {
    width: 1025px;
    height: 760px;
    margin-left: 20px;
  }
  .top-layer {
    margin-left: 32px;
    padding-left: 5px;
    letter-spacing: 0;
  }
  .cams-slider {
    align-items: flex-start;
  }
  .slider-title {
    margin: 7px 0 30px 330px;
  }
  .cams-slider-inner {
    padding-left: 0;
    margin-left: 20px;
  }
  .left-arrow,
  .right-arrow {
    margin: 0 0 18px 0;
  }
  .slider-images {
    grid-gap: 19px;
  }
  .video2 iframe,
  .video3 iframe,
  .video4 iframe {
    width: 267px;
  }
  .live-layer-1 {
    padding-left: 14px;
    padding-top: 2px;
    width: 250px;
  }
  .live-layer-2 {
    padding-left: 11px;
    width: 250px;
  }
  .live-layer-3 {
    padding-left: 9px;
    width: 250px;
  }
  .donation-title {
    width: 512px;
    margin-bottom: 13px;
  }
  .donation-text {
    width: 692px;
    text-align: start;
  }

  /* DONATE */
  .donate {
    height: 283px;
    margin: 96px 0;
    background-color: var(--navy);
  }
  .donate-inner {
    max-width: 1120px;
    padding: 30px 0;
  }

  /* INFO */
  .info-inner {
    max-width: 1120px;
  }
  .did-u-know {
    width: 930px;
    height: 369px;
    margin-bottom: 50px;
    margin-left: 95px;
  }
  .dun-title {
    margin-top: 30.5px;
    padding-left: 39.5px;
  }
  .dun-text {
    width: 740px;
  }
  .animal-info {
    width: 1120px;
    margin: 101px 0 90px 0;
  }
  .info-text {
    margin-top: 37.5px;
  }
  .photo img {
    width: 456px;
    height: 456px;
  }
}
