@media screen and (max-width: 640px) {
  body {
    min-width: 640px;
    width: 640px;
    max-width: 640px;
  }
  .page-wrapper {
    height: 100vh;
    overflow: auto;
  }
  
  /* HEADER */
  .header {
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .header-inner {
    width: 600px;
  }
  .socials-list {
    display: none;
  }
  .burger {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 48px;
    background-image: url(../assets/icons/hamburger-icon.svg);
  }
  .burger:hover {
    cursor: pointer;
  }
  .top-nav-list {
    display: none;
  }      

  /* SIDEBAR */
  .sidebar {
    width: 78px;
    height: 500px;
    z-index: 99;
    top: 110px;
  }
  .row1 {
    height: 50px;
    width: 78px;
  }
  .arrows {
    right: 30px;
    top: 17px;
  }
  .row2,
  .row3,
  .row4,
  .row5 {
    height: 100px;
    width: 78px;
  }  
  .eagles-fig {
    top: 46px;
    left: 23px;
    width: 32px;
    height: 30px;
    background-size: cover;
  }
  .panda-fig {
    top: 33px;
    left: 19px;
    width: 40px;
    height: 30px;
    background-size: cover;
  }
  .gorilla-fig {
    top: 34px;
    left: 22px;
    width: 34px;
    height: 30px;
    background-size: cover;
  }
  .lemur-fig {
    top: 32px;
    left: 30px;
    width: 18px;
    height: 30px;
    background-size: cover;
  } 
  .down {
    left: 32px;
    bottom: 21px;
  } 

  /* LIVE CAMS SECTION */
  .cams-inner {
    width: 600px;
  }
  .cams-title {
    font-size: 42px;
    margin: 25px 0 21px 63px;
    letter-spacing: -0.5px;
  }
  .donate-now-btn {
    width: 212px;
    height: 24px;
    top: 482px;
    padding-left: 20px;
    right: 57px;
  }
  .main-video iframe {
    width: 542px;
    height: 402px;
    margin-left: 0;
  }
  .transparent-layer {
    width: 542px;
    height: 402px;
    margin-left: 0;
  } 
  .top-layer {
    font-size: 15px;
    width: 530px;
    height: 50px;
    margin-left: 5px;
    margin-top: 10px;
  }
  .cams-slider {
    width: 600px;
    margin-left: 79px;
    align-items: flex-start;
  }
  .slider-title {
    margin: 85px 0 20px 20px;
    padding-left: 0px;
    font-size: 26px;
    text-transform: none;
  } 
  .cams-slider-inner {
    padding-left: 0;
  }
  .left-arrow,
  .right-arrow {
    display: none;
  }
  .slider-images {
    margin: 0;
  }
  .video2 iframe,
  .video3 iframe,
  .video4 iframe{
    width: 135px;
    height: 106px;
  }
  .slider-top-layer-1,
  .slider-top-layer-2,
  .slider-top-layer-3 {
    width: 135px;
    height: 106px;
  }
  .live-layer-1,
  .live-layer-2,
  .live-layer-3 {
    padding-left: 12px;
    padding-top: 2px;
    width: 72px;
    height: 26px;
    font-size: 10px;
    display: flex;
    align-items: center;
  }
  .live-layer-1 img,
  .live-layer-2 img,
  .live-layer-3 img {
    width: 12px;
    height: 12px;
    padding-left: 3px;
  } 
  /* DONATE */
  .donate {
    height: 515px;
    margin: 77px 0;
  }
  .donate-inner {
    max-width: 600px;
    padding: 50px 0;
    flex-direction: column;
    align-items: center;
  }
  .donation-title {
    width: 565px;
    margin: 0 auto;
    text-align: center;
  }
  .donation-text {
    width: 599px;
    margin-top: 30px;
    text-align: center;
  }
  .donation-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }  
  .input-donation {
    margin-top: 0;
    width: 363px;
    height: 74px;
  }
  #donation-amount {
    width: 363px;
    padding: 23px 0 26px 40px;
  } 
  .donation-button {
    padding-left: 16px;
  } 

  /* INFO */
  .info-inner {
    width: 600px;
  }
  .did-u-know {
    width: 600px;
    height: 506px;
    margin-left: 0;
  } 
  .dun-title {
    margin-top: 23px;
    padding-left: 0;
    margin-right: 10px;
  } 
  .dun-text {
    width: 540px;
    margin-top: 32px;
  } 
  .animal-info {
    width: 600px;
    margin: 65px 0 99px 0;
  }  
  .short-info {
    width: 600px;
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
  } 
  .photo img {
    width: 600px;
    height: 600px;
  } 
  .photo {
    order: -1;
  } 
  .info-list {
    margin-top: 78px;
  }
  .info-text {
    margin-top: 49px;
  }
  
  /* FOOTER */
  .footer {
    position: relative;
    height: 545px;
  }
  .footer-inner {
    width: 600px;
    padding-top: 50px;
  }
  .footer-top,
  .footer-bottom {
    flex-direction: column;
    align-items: center;
  }
  .logos {
    grid-gap: 80px;
    margin-bottom: 50px;
  } 
  .footer-nav-list {
    width: 445px;
    margin: 0 35px 47px 35px;
    grid-template-columns: 68px 44px 54px 120.34px;
    grid-gap: 53px;
  }  
  .bottom-line {
    position: absolute;
    left: 0;
    top: 346px;
    width: 640px;
    margin: 0;
  }
  .footer-bottom {
    margin-top: 100px;
  }
  .footer-socials-list {
    grid-gap: 50px;
  }
  .footer-socials {
    order: -1;
  }
  .copyrights {
    margin-top: 28px;
    margin-left: 50px;
  }
}