.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* LIVE CAMS SECTION */
.cams {
  width: 100%;
  margin: 0;
  display: flex;
}

/* SIDEBAR */
.sidebar {
  /* вид сайдбара по умолчанию */
  width: 220px;
  height: 846px;
  background-color: var(--navy);
  position: sticky;
  top: 0;
  margin: 0;
  animation: unstrech 0.8s ease-in-out;
  -webkit-animation: unstrech 0.8s ease-in-out;
}
@-webkit-keyframes unstrech {
  0% {
    width: 300px;
  }
  20% {
    width: 320px;
  }
  40% {
    width: 300px;
  }
  60% {
    width: 260px;
  }
  80% {
    width: 180px;
  }
  100% {
    width: 220px;
  }
}
@keyframes unstrech {
  0% {
    width: 300px;
  }
  20% {
    width: 320px;
  }
  40% {
    width: 300px;
  }
  60% {
    width: 260px;
  }
  80% {
    width: 180px;
  }
  100% {
    width: 220px;
  }
}
.sidebar.opened {
  /* вид сайдбара после открытия вправо */
  width: 300px;
  animation: strech 0.8s ease-in-out;
  -webkit-animation: strech 0.8s ease-in-out;
}
@-webkit-keyframes strech {
  0% {
    width: 220px;
  }
  40% {
    width: 280px;
  }
  60% {
    width: 320px;
  }
  80% {
    width: 280px;
  }
  100% {
    width: 300px;
  }
}
@keyframes strech {
  0% {
    width: 220px;
  }
  40% {
    width: 280px;
  }
  60% {
    width: 320px;
  }
  80% {
    width: 280px;
  }
  100% {
    width: 300px;
  }
}
.sidebar__inner {
  display: grid;
  grid-auto-flow: row;
}
/* вид строк сайдбара по умолчанию: */
.row1 {
  height: 80px;
  border-bottom: 1px solid var(--white);
}
.row2,
.row3,
.row4,
.row5 {
  height: 171px;
  border-bottom: 1px solid var(--white);
}
.row6 {
  height: 80px;
  border-bottom: none !important;
}
.row2_next.hidden,
.row3_next.hidden,
.row4_next.hidden,
.row5_next.hidden {
  display: none;
}
/* вид строк сайдбара после нажатия на кнопку "вниз": */
.row2.hidden,
.row3.hidden,
.row4.hidden,
.row5.hidden {
  display: none;
}
.row2_next,
.row3_next,
.row4_next,
.row5_next {
  display: flex;
  height: 171px;
  border-bottom: 1px solid var(--white);
}
.center {
  /* центрирование сожержимого строк*/
  border-bottom: 1px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* содержимое первой строки по умолчанию: */
.live-sign,
.arrows {
  position: absolute;
  margin: 0;
}
.arrows {
  /* стрелки-контролы "влево/вправо" */
  width: 16px;
  height: 15px;
  top: 30px;
  right: 30px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../assets/icons/sidebar-more-btn.svg");
  padding: 0;
}
.arrows.opened {
  /* вид стрелок после нажатия на них: */
  background-image: url("../assets/icons/sidebar-less-btn.svg");
}
/* содержимое остальных строк по умолчанию: */
.circle {
  margin: 0;
  position: relative;
  width: 120px;
  height: 120px;
  background-image: url("../assets/icons/ellipse.svg");
  background-size: 100%;
}
.first {
  width: 140px;
  height: 140px;
  background-image: url("../assets/icons/ellipse1.svg");
}
/* содержимое остальных строк после нажатия на стрелки "влево/вправо": */
.circle.opened {
  width: 300px !important;
  height: 171px !important;
  padding-left: 25px;
  padding-right: 10px;
  background-image: none !important;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}
@keyframes opacitiOn {
  /* анимация для появления фигур животных в сайдбаре */
  from {
    top: -100%;
    opacity: 0;
  }
  to {
    top: 26px;
    opacity: 1;
  }
}
.animal-fig:hover {
  /* эффекты наведения для фигурок животныхъ */
  cursor: pointer;
  filter: drop-shadow(1px 1px 10px var(--white));
}
.sidebar__text {
  /* текст рядом с фигуркой животного */
  display: block;
  width: 176px;
  margin: 0;
  font-size: 18px;
  color: var(--white);
  text-transform: none;
}
.sidebar__text.hidden {
  display: none;
}
.down {
  /* Стрелка-контрол "вниз"/карусель животных */
  width: 15px;
  height: 9px;
  margin: 0;
  position: absolute;
  bottom: 35px;
  left: 103px;
  background-image: url("../assets/icons/sidebar-down-btn.svg");
}
.down.opened {
  left: 50%;
}

/* CAMS-INNER SECTION */
.cams-inner {
  position: relative;
  width: 1400px;
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.cams-inner.side-bar {
  /* размер полей при открытии сайдбара */
  margin: 0 0 0 80px;
}
.cams-title {
  margin: 54px 10px 50px 0;
}
.main-video {
  position: relative;
}
.main-video iframe {
  border: none;
}
.transparent-layer {
  /* прозрачный слой поверх видео */
  position: absolute;
  margin: 0;
  width: 1400px;
  height: 747px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
}
.top-layer {
  /* слой с заголовками поверх видео */
  position: absolute;
  margin: 12px;
  padding-left: 5px;
  line-height: 38px;
  letter-spacing: 0.4px;
  height: 45px;
  top: 0;
  left: 0;
  background-color: var(--black);
  border-radius: 5px;
  color: var(--white);
  font-size: 28px;
}
.donate-now-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 50px 0 100px 0;
  width: 240px;
  height: 74px;
  display: flex;
  align-items: center;
  background-color: var(--orange);
  color: var(--white);
  letter-spacing: 1px;
}
.donate-now-btn:hover,
.donate-now-btn:active {
  background-color: #d26004;
}
.cams-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider-title {
  margin: 97px 0 29px 0;
  font-size: 4.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
}
.cams-slider-inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 120px;
}
.left-arrow,
.right-arrow {
  width: 80px;
  height: 74px;
  margin: 0 0 3px 0;
}
.left-arrow {
  background-image: url("../assets/icons/slider-arrow-left.svg");
}
.right-arrow {
  background-image: url("../assets/icons/slider-arrow-right.svg");
}
.left-arrow:hover,
.left-arrow:active {
  cursor: pointer;
  background-image: url("../assets/icons/slider-arrow-left-hover.svg");
}
.right-arrow:hover,
.right-arrow:active {
  cursor: pointer;
  background-image: url("../assets/icons/slider-arrow-right-hover.svg");
}
.slider-images {
  margin: 0 13px;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 40px;
}
.video {
  position: relative;
}
.video iframe {
  border-radius: 5px;
  border: none;
}
.slider-top-layer {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 320px;
  height: 209px;
  background-color: rgba(0, 0, 0, 0);
}
.live-layer {
  position: absolute;
  margin: 0;
  padding-left: 40px;
  padding-top: 3px;
  line-height: 38px;
  letter-spacing: 0.4px;
  width: 300px;
  height: 44px;
  top: 0;
  left: 0;
  background-color: var(--black);
  border-radius: 5px 0 5px 0;
  color: var(--white);
  font-size: 26px;
  text-transform: uppercase;
}

/* DONATE */
.donate {
  width: 100%;
  height: 249px;
  margin: 147px 0;
  background-color: var(--navy);
}
.donate-inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.donation-title {
  margin: 0 0 20px 0;
  font-size: 4.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--white);
}
.donation-text {
  color: var(--white);
}
.donation-fname {
  font-size: 2.6rem;
  color: var(--white);
  line-height: 130%;
  letter-spacing: 0.4px;
}
.input-donation {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid var(--white);
  border-radius: 5px;
}
#donation-amount {
  width: 240px;
  padding: 27px 0 26px 14px;
  height: 74px;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  color: var(--white);
  letter-spacing: 1px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
#donation-amount::placeholder {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white);
}
#donation-amount:focus::-webkit-input-placeholder {
  color: transparent;
}
.donation-button {
  width: 80px;
  height: 74px;
  background-color: var(--orange);
  display: flex;
  align-items: center;
  padding-left: 28px;
}
.donation-button:hover,
.donation-button:active {
  background-color: #d26004;
}

/* INFO */
.info {
  width: 100%;
  margin: 0;
}
.info-inner {
  position: relative;
  width: 1400px;
  margin: 0 auto;
  padding-top: 3px;
}
.did-u-know {
  width: 1040px;
  margin: 0 0 0 240px;
  border-radius: 5px;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 25%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dun-title {
  text-align: center;
  font-size: 4.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--turquoise);
}
.dun-text {
  text-align: center;
  width: 920px;
  margin: 20px 50px;
  color: var(--black);
  line-height: 33px;
}
.animal-info {
  width: 1160px;
  margin: 140px 0 150px 0;
}
.short-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.info-list {
  height: 385px;
  margin: 10px 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.info-list-item {
  height: 34px;
}
.info-list-item:nth-child(1),
.info-list-item:nth-child(2) {
  margin-bottom: 25px;
}
.info-list-item:nth-child(3),
.info-list-item:nth-child(4),
.info-list-item:nth-child(5),
.info-list-item:nth-child(6) {
  margin-bottom: 18px;
}
.property {
  color: var(--black);
  padding-right: 20px;
}
.button-box {
  position: relative;
}
.caption-button {
  position: absolute;
  top: -21px;
  width: 240px;
  height: 74px;
  border-radius: 5px;
  margin-top: 3px;
  padding: 12px 0 12px 46px;
  letter-spacing: 1.5px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  background: url(../assets/icons/orange-arrow.svg) no-repeat;
  background-position: 170px 50%;
  color: var(--orange);
  transition: 0.2s;
}
.caption-button:hover,
.caption-button:active {
  color: var(--white);
  background: var(--orange) url(../assets/icons/white-arrow.svg) no-repeat;
  background-position: 170px 50%;
}
.info-text {
  margin: 41px 0 0 0;
}
.photo img {
  border-radius: 5px;
}
